{% setcontent people = 'people' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ record.title }}</title>

    <link rel="stylesheet" href="{{ asset('assets/fonts/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/base.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/crisp.css') }}">

</head>
<body>

    <header class="fixed top-0 left-0 w-1/2 md:w-full text-center pt-8 md:pt-6 pl-10 md:pl-0  z-50">
        <button type="button" id="lets-meet" class="text-md md:text-2xl uppercase sans-font color-green cta">Meet</button>
    </header>

    <div class="fixed top-0 w-screen h-screen overflow-hidden pointer-events-none" style="touch-action: none;>
        <div id="arrows" class="fixed flex flex-col w-full h-full justify-center items-center text-xl transition">
            <span class="mb-40">
                <img width="20" src="{{ asset('assets/images/crisp-id_Landingpage_Arrow.svg') }}" alt="Arrow Up">
            </span>
            <span class="mt-40">
                <img width="20" class="transform rotate-180" src="{{ asset('assets/images/crisp-id_Landingpage_Arrow.svg') }}" alt="Arrow Down">
            </span>
        </div>
        <main class="flex flex-col md:flex-row w-screen h-screen">
            <div class="flex w-full md:w-1/2 h-full justify-center items-end md:justify-end md:items-center pr-2 sans text-5xl md:text-8xl">
                {% for term in record.terms_left|split(',') %}
                    <span class="mb-0">{{ term }}</span>
                {% endfor %}
            </div>
            <div class="flex w-full md:w-1/2 h-full justify-center items-star md:justify-start md:items-center pl-2 serif text-5xl md:text-8xl">
                {% for term in record.terms_right|split(',') %}
                    <span class="mb-0">{{ term }}</span>
                {% endfor %}
            </div>
        </main>
    </div>

    <div id="meet" class="fixed top-0 w-full h-screen invisible z-20 overflow-scroll">
        <div>
            <div class="relative flex items-center min-h-screen py-20 bg-white">
                <div class="flex bg-cover bg-center justify-center items-center w-full px-10" style="background-image: url('{{ record.header_image|thumbnail(1280) }}'); min-height: 640px; min-height: 580px;">
                    <img class="w-full" style="max-width: 920px;" src="{{ asset('assets/images/CRI_Wordmark_RGB_seafoam.svg') }}" alt="crisp id wordmark">
                </div>
            </div>

            <div class="relative flex min-h-screen justify-center items-center  bg-white">
                <div class="max-w-3xl px-10">
                    <div class="flex mb-16 justify-center">
                        {% for person in people|order('position') %}
                            <span class="mx-4 md:mx-8">
                                <img class="w-10 md:w-16" src="{{ person.avatar }}" alt="{{ person.first_name }} {{ person.last_name }}">
                            </span>
                        {% endfor %}
                    </div>
                    <h2 class="sans-font text-center text-2xl md:text-3xl mb-8 uppercase">{{ record.about_title }}</h2>
                    <div class="content text-sm md:text-xl">
                        {{ record.about|raw }}
                    </div>
                </div>
            </div>

            {% for person in people|order('position') %}
            <div class="relative flex flex-col md:flex-row py-20 px-10 bg-white max-w-7xl m-auto">
                <div class="w-2/3 md:w-1/2 mx-auto mb-4 md:mb-0 pr-0 md:pr-8 bg-cover bg-center">
                    <img src="{{ person.image|thumbnail(960) }}" alt="{{ person.first_name }} {{ person.last_name }}">
                </div>
                <div class="relative flex flex-col w-full md:w-1/2 pl-0 md:pl-8 justify-end">
                    <span class="absolute top-8 right-2 md:right-auto">
                        <img class="w-10 md:w-16" src="{{ person.avatar }}" alt="{{ person.first_name }} {{ person.last_name }}">
                    </span>
                    <h3 class="mb-6 md:mb-10">
                        <span class="text-5xl md:text-7xl lowercase block mb-0 md:mb-2 sans-font" >{{ person.first_name }}</span>
                        <span class="text-5xl md:text-7xl lowercase block serif-font">{{ person.last_name }}</span>
                    </h3>
                    <span class="block color-purple font-sans text-xs">{{ person.description }}</span>
                    <div class="content text-sm md:text-md">
                        {{ person.content|raw }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="greet" class="fixed top-0 w-full min-h-screen invisible z-30">
        <div>
            <div class="relative flex min-h-screen justify-center items-center  bg-white">
                <div class="max-w-5xl">
                    <div class="mb-8">
                        <img class="mx-auto" style="max-width: 220px;" src="{{ asset('assets/images/CRI_Wordmark_RGB_seafoam.svg') }}" alt="crisp id wordmark">
                    </div>
                    <div class="content sans-font text-xl md:text-5xl leading-tight text-center">
                        {{ record.greet|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="fixed top-0 right-0 md:bottom-0 md:top-auto w-1/2 md:w-full text-center pt-8 pb-0 md:pt-auto md:pb-6 pr-10 md:pr-0 z-50">
        <button type="button" id="lets-greet" class="text-md md:text-2xl uppercase sans-font color-green cta">Greet</button>
    </footer>

    <button type="button" id="close-all" class="fixed top-10 md:top-8 right-6 md:right-16 w-4 h-4 md:w-6 md:h-6 hidden bg-cover bg-center no-repeat z-50" style="background-image: url('{{ asset('assets/images/crisp-id_Landingpage_Back button.svg') }}'); transform: translateY(-3px);">
    </button>

    <script src="{{ asset('assets/crisp.js') }}"></script>

</body>
</html>